@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Outfit:wght@200;300;400;500;600;700;800&display=swap');

.experience_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    height: fit-content;
    font-family: "Outfit", Sans-serif;
    font-size: 16px;
    flex-direction: column;
    margin-bottom: 50px;
    box-sizing: border-box;
    padding: 20px;
}



.experience_heading{
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    width: 70%;
    box-sizing: border-box;
    height: fit-content;
    border-bottom: 1px solid rgba(255, 255, 255, 0.084);
    margin-bottom: 30px;
    background: -webkit-linear-gradient( #b6b5b5, #9a9a9a9b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
}

.experience_heading h2{
    /* font-size: 16px; */
    font-weight: 300;
    letter-spacing: 3px;
}


.experiences{
    display: grid;
    width: 70%;
    min-width: 1000px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
   
    
}

.experience{
    width: 100%;
    min-height: 360px;
    background-color: #1A1A1A;
    border: 1px solid rgba(129, 128, 128, 0.084);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    transition: transform .2s;
    box-shadow: 1px 1px 10px #0000002b;
    box-sizing: border-box;
    padding-top: 20px;
}

.experience:hover{
    transform: scale(0.95);
    box-shadow: 1px 1px 10px #0000008c;
}

.experience_info{
    width: 100%;
    height: fit-content;
    min-height: 100px;
    /* background-color: rgba(0, 0, 0, 0.376); */
    display: flex;
    flex-direction: column;
    
}

.experience_title{
    font-family: "Outfit", Sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0px 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: -webkit-linear-gradient( #e3e2e2, #9a9a9a9b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experience_tech{
    padding: 0px 20px;
}

.experience_des{
    padding: 20px;
    padding-bottom: 40px;
    font-weight: 300;
    font-size: 13px;
    color: #9A9A9A
}

.experience_time{
    padding: 0px 20px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.718);
    font-size: small;
    font-weight: 400;
}


@media (max-width: 1060px) {
    .experiences{
        grid-template-columns: repeat(2, 1fr);
        min-width: 10px;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .experiences{
        grid-template-columns: repeat(1, 1fr);
        min-width: 10px;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }

    .experience_heading{
        width: 100%;
    }

    .experience_heading h2{
        font-size: 26px;
        margin-bottom: 44px;
      }

     
}