@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Outfit:wght@200;300;400;500;600;700;800&display=swap');
div, button, i, img:focus {
    outline: none;
  }
.links_section{
    min-height: 100px;
    width: 100%;
    height: fit-content;
    background-color: #1A1A1A;
    margin-top: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.084);
    border-top: 1px solid rgba(255, 255, 255, 0.084);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Outfit", Sans-serif;
    padding: 20px 0px;
    flex-wrap: wrap;
}

.links_section h2{
    font-weight: 300;
    font-size: 1rem;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.link i{
    color: #9A9A9A;
    font-size: 25px;
    margin-right: 10px;
}

@media (max-width: 500px) {
    .links_section{
        flex-direction: column;
    }

}