@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Outfit:wght@200;300;400;500;600;700;800&display=swap');


.navbar{
    display: flex;
    height: 10vh;
    justify-content: center;
    /* background-color: white; */
    width: 100%;
    box-sizing: border-box;
    
    font-family: "Outfit", Sans-serif;
    font-weight: 300;
    font-size: 20px;
    
}

.nav_items_container{
    display: flex;
    height: 100%;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.048);
    padding: 10px 10px;
    box-sizing: border-box;
}
 
.hidden_icons{
    display: none;
   
}

.navdiv{
    font-size: 15px;
    color: #ffffff7b;
    display: flex;
}
div, button, i, img:focus {
    outline: none;
  }
.link{
    height: 80%;
    width: 90px;
}

a{
    text-decoration: none;
    color: #ffffff7b;
}

a:hover{
    color: #ffffffc7;
}

#nav_left_icon{
    margin-right: 10px;
    /* font-size: 25px; */
}

.visible_links{
    cursor: pointer;
}

@media (max-width: 870px) {
    .nav_items_container{
        width: 100%;
    }

    .visible_links{
        display: none;
    }

    .hidden_icons{
        display: contents;
       font-size: 20px;
       margin-right: 20px;
       color: #ffffff7b;
    }

    .link{
        width: 40px;
    }

    .navbar{
        height: 6vh;
    }

    .nav_items_container{
        padding: 20px;
    }

    .hidden_icons{
        margin: 20px 0px;
    }

}
@media (max-width: 500px) {
    .nav_items_container{
        padding: 20px;
    }

    .hidden_icons{
        margin: 20px 0px;
    }
}