@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Outfit:wght@200;300;400;500;600;700;800&display=swap');

div, button, i, img:focus {
    outline: none;
  }

.projects_section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    color: #9A9A9A;
    font-family: "Outfit", Sans-serif;
    font-size: 16px;
    /* border: 1px solid rgba(129, 128, 128, 0.084); */
    margin-bottom: 50px;
}


.projects_section_heading{
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    width: 70%;
    box-sizing: border-box;
    height: fit-content;
    border-bottom: 1px solid rgba(255, 255, 255, 0.084);
    margin-bottom: 30px;
    background: -webkit-linear-gradient( #b6b5b5, #9a9a9a9b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects_section_heading h2{
    font-weight: 400;

}

.projects_text_head{
    display: flex;
    width: 50%;
    flex-direction: column;
    text-align: center;
    line-height: 25px;
    font-weight: 300;
}

.projects_text_head h2{
    font-family: "Outfit", Sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    background: -webkit-linear-gradient( #b6b5b5, #9a9a9a9b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 70px;
}

.projects{
    display: grid;
    width: 70%;
    min-width: 1000px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
   
    
}

.project{
    width: 100%;
    height: 360px;
    background-color: #1A1A1A;
    border: 1px solid rgba(129, 128, 128, 0.084);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    transition: transform .2s;
    box-shadow: 1px 1px 10px #0000002b;
}

.project:hover{
    transform: scale(0.95);
    box-shadow: 1px 1px 10px #0000008c;
}

.project_info{
    width: 100%;
    height: fit-content;
    min-height: 100px;
    /* background-color: rgba(0, 0, 0, 0.376); */
    display: flex;
    flex-direction: column;
}

.project_title{
    font-family: "Outfit", Sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0px 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: -webkit-linear-gradient( #e3e2e2, #9a9a9a9b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project_tech{
    padding: 0px 20px;
}

.project_des{
    padding: 20px;
    padding-bottom: 40px;
    font-weight: 300;
    font-size: 13px;

}




@media (max-width: 1060px) {
    .projects{
        grid-template-columns: repeat(2, 1fr);
        min-width: 10px;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .projects{
        grid-template-columns: repeat(1, 1fr);
        min-width: 10px;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }

    .projects_text_head{
        width: 100%;
    }

    .projects_text_head h2{
        font-size: 26px;
        margin-bottom: 44px;
      }

     
}