@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background : 20,20,20;
  --foreground: 190,190,190;
  --fade-foreground: 150, 150, 150;
  --border : 40, 40, 40;
  --accent : 40,132,82;
  --hover-bg : 30, 30, 30;
}

 section, iframe, .fade-in {
  animation: CSSscrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 20% cover 25%;
}

.video-responsive {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.sidebar {
  transition: right 0.3s ease-in-out; 
  right: -100%;
}

.sidebar.open {
  right: 0; /* Move sidebar into viewport when open */
}

@keyframes CSSscrollReveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}